#sideNav {
    background: linear-gradient(180deg , #3881ab ,#0496f7);
}

#about {
    position: relative; 
    background-image: url(../assets/img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.text-primary {
    color:#ebf82f !important;
} 

.hehe {
    color: #4afcb2;
}

.school-number {
    color: rgb(243, 192, 131);
}

.mb-0 {
    color: #159bdd;
}

.mb-5 {
    color: #154763;
}